html{
    background: #efd5f0;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
    color: #242424;
    border-top: 10px solid #d5b1d6;
    background: #fff;
    padding: 40px;
}

h1{
    font-size: 2em;
    margin: 0;

}

p {
    line-height: 3.4em;

}

#blog {
    border-top: 2px dotted #ccc;
}

.blog-post {
    border-bottom: 2px dotted #ccc;
}

input[type="text"]{
    background-color:#ccc
}