html{
    background: #adc7c9;
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    color: #242424;
    border-top: 10px solid #2037b8;
    background: #fff;
    padding: 40px;
}

h1{
    font-size: 3em;
    margin: 0;

}

p {
    line-height: 1.4em;

}

#blog {
    border-top: 2px dotted #ccc;
}

.blog-post {
    border-bottom: 2px dotted #ccc;
}

input[type="button"]{
    width: 500px;
}