html{
    background: #b8eefc;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
    color: #242424;
    border-top: 10px solid #95d4f1;
    background: #fff;
    padding: 40px;
}

h1{
    font-size: 4em;
    margin: 0;

}

h2{
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1em;

}

#blog {
    border-top: 2px dotted #ccc;
}

.blog-post {
    border-bottom: 2px dotted #ccc;
}

input[type="text"]{
    background-color:rgb(228, 228, 228)
}